<h1 align="center">Hi, I'm {{ name-1 }} 👋</h1>
{{#name-2}}
<h2 align="center">aka {{ name-2 }}</h2>
{{/name-2}}
{{ description }}

<div>
  <div align="center">
    <a href="https://hits.seeyoufarm.com">
      <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2F{{ username }}%2Fhit-counter&count_bg=%23C4B798&title_bg=%23303030&icon=&icon_color=%23E7E7E7&title=Profile+views&edge_flat=false"/>
    </a>
  </div>

  {{#list}}
  <ul>· {{ emoji }} {{ &text }}</ul>
  {{/list}}
</div>

{{ content }}

#### :wrench: Languages and Tools

{{#skill-icons}}
![](https://skillicons.dev/icons?i={{ . }}&theme=light)

{{/skill-icons}}
<div>
  <a href="https://github.com/{{ username }}?tab=repositories">
    <img align="center" height=175 src="https://github-readme-stats.vercel.app/api?username={{ username }}&show_icons=true&line_height=24&theme=shadow_red" />
  </a>
  
  <a href="https://github.com/anuraghazra/github-readme-stats">
    <img align="center" height=175 src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ username }}&theme=shadow_red&layout=compact&langs_count=12&hide={{ stats-hide }}" />
  </a>
</div>
