<h1 align="center">Hi, I'm {{ name-1 }} 👋</h1>
{{#name-2}}
<h2 align="center">aka {{ name-2 }}</h2>
{{/name-2}}
{{ description }}

<div>
  {{#list}}
  <ul>· {{ emoji }} {{ &text }}</ul>
  {{/list}}
</div>

{{ content }}

#### :wrench: Languages and Tools

{{#skill-icons}}
![](https://skillicons.dev/icons?i={{ . }}&theme=light)

{{/skill-icons}}
<div>
  <a href="https://github.com/{{ username }}">
    <img align="center" height=175 src="https://github-readme-stats.vercel.app/api?username={{ username }}&show_icons=true&theme=graywhite&hide_border=true" />
  </a>
  
  <a href="https://github.com/{{ username }}?tab=repositories">
    <img align="center" height=175 src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ username }}&layout=compact&theme=graywhite&hide_border=true&langs_count=8" />
  </a>
</div>
